@keyframes fly_in_from_left_and_skew {
    0% {
        transform: translate(-200%);
    }

    80% {
        transform: translate(20%);
    }

    100% {
        transform: translate(0), skew(-30deg);
    }
}

.fly_in_from_left_and_skew {
    animation: fly_in_from_left_and_skew 1s;
}

@keyframes fly_in_from_right_and_skew {
    0% {
        transform: translate(200%);
    }

    80% {
        transform: translate(-20%);
    }

    100% {
        transform: translate(0), skew(-30deg);
    }
}


.fly_in_from_right_and_skew {
    animation: fly_in_from_right_and_skew 1s;
}


@keyframes fly_out_to_left {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -100%;
    }
}

.fly_out_to_left {
    animation: fly_out_to_left 1s;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    transform-origin: 50% 50%;
    animation: rotate 0.5s linear infinite;
}



@-webkit-keyframes colors {
    0% {
        box-shadow: 8px 8px 8px rgba(242,70,201,1) inset, -9px -9px 8px rgba(242,70,201,1) inset;
    }

    15% {
        box-shadow: 8px 8px 8px rgba(68,83,242,1) inset, -9px -9px 8px rgba(68,83,242,1) inset;
    }

    30% {
        box-shadow: 8px 8px 8px rgba(68,83,242,1) inset, -9px -9px 8px rgba(68,83,242,1) inset;
    }

    45% {
        box-shadow: 8px 8px 8px rgba(232,86,242,1) inset, -9px -9px 8px rgba(232,86,242,1) inset;
    }

    60% {
        box-shadow: 8px 8px 8px rgba(193,102,242,1) inset, -9px -9px 8px rgba(193,102,242,1) inset;
    }

    75% {
        box-shadow: 8px 8px 8px rgba(0,199,206,1) inset, -9px -9px 8px rgba(0,199,206,1) inset;
    }

    90% {
        box-shadow: 8px 8px 8px rgba(75,92,242,1) inset, -9px -9px 8px rgba(75,92,242,1) inset;
    }

    100% {
        box-shadow: 8px 8px 8px rgba(242,70,201,1) inset, -9px -9px 8px rgba(242,70,201,1) inset;
    }
}