@import url('./keyframes.css');

@font-face {
    font-family: 'LeviBrush Regular'; /*字体名称*/
    src: url('../res/fonts/LEVIBRUSH.TTF'); /*字体源文件*/
}

@font-face {
    font-family: 'Hang the DJ'; /*字体名称*/
    src: url('../res/fonts/Hang the DJ.ttf'); /*字体源文件*/
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'LeviBrush Regular', sans-serif;
    text-align: center;
    color: white;
    cursor: none;
}

body {
    display: flex;
    overflow: hidden;
}

.title {
    font-size: 12vh;
    position: absolute;
    top: 3%;
    width: 100%;
}

.container {
    width: 80%;
    height: 60%;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .container.space-around {
        justify-content: space-around;
    }

#start_page .title {
    top: 5%;
}

#start_page .container {
    top: 30%;
}

.footer {
    width: 100%;
    height: 20%;
    position: absolute;
    top: 80%;
    display: flex;
    align-items: center;
}

.page {
    flex-shrink: 0;
    width: 100vw;
    height: 100vh;
    background: url("../res/img/bg1.jpg");
    background-size: cover;
    position: relative;
    display: none;
}

.page--active {
    display: block;
}

.page.left {
    order: 0;
}

.page.right {
    order: 1;
}
/*
#btn1{
    background: url("../res/img/LevelBtn.png") no-repeat;
    margin:0 auto;
    left:30%;
    text-align: center;
}*/
.btn {
    width: 80%;
    font-size: 10vh;
    margin: 0 auto;
    /*background-color: blueviolet;*/
    opacity: 0.7;
    /*cursor: pointer;*/
    font-family: LeviBrush Regular;
}

    .btn:hover {
        opacity: 1;
    }

    .btn.inline {
        width: 40%;
        font-size: 9vh;
    }

.skew {
    transform: skew(-30deg);
}

.row_group {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.music_picture {
    width: 50%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 10vh;
}

.btn.file {
    position: relative;
}

input[type=file] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

audio {
    display: none;
}

canvas {
    width: 100%;
    height: 100%;
}

.scroll_area {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding: 0;
}

.music_editor_graph {
    width: 100%;
    background-color: white;
    vertical-align: middle;
}

.music_editor_text {
    width: 100%;
    height: 100%;
    color: black;
    font-size: 5vh;
    text-align: left;
    display: none;
}

.score {
    width: auto;
    font-size: 9vh;
    left: 0;
    top: 0;
    position: absolute;
    font-family: "LeviBrush Regular";
}

.statement {
    font-size: 6vh;
    top: 25%;
    left: 45%;
    position: absolute;
    text-align: left;
    width: 50%;
}

#about_game .introduction {
    font-size: 12vh;
}

#about_game .link {
    font-size: 6vh;
}

.hit_tag {
    position: absolute;
    opacity: 0;
    font-size: 9vh;
}

.shine {
    background: url('/res/img/shine_short.png');
    width: 19.2vh;
    height: 10.8vh;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
}

/*slider*/
.scroll {
    width: 57.4vh;
    height: 28.89vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.scrollContainer {
    position: relative;
    width: 200vw;
    left: 0;
}

    .scrollContainer .current .inside {
        width: 21.30vh;
        height: 26.66vh;
    }

    .scrollContainer .panel {
        width: 15.74vh;
        height: 21.76vh;
        float: left;
        margin-right: 2.31vh;
        display: inline;
    }

.panel .inside {
    display: block;
    position: relative;
}

.inside img {
    height: 100%;
    width: 100%;
}

.scroll li .inside span {
    width: 18.24vh;
    height: 3.43vh;
    line-height: 3.43vh;
    display: none;
    position: absolute;
    bottom: -1.57vh;
    left: 1.48vh;
    background-color: #c69;
    font-size: 1.30vh;
    color: #FFF;
    text-align: center;
}

.scroll li.current .inside span {
    display: block;
}

.btnMode a.btn {
    background: url('../res/img/img_change.png') no-repeat;
}

.btnMode a.btn {
    width: 20px;
    height: 39px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btnMode a.prev {
    left: calc((80% - 60vh) / 2);
    background-position: 0 -61px;
}

    .btnMode a.prev:hover {
        background-position: 0 -102px;
    }

.btnMode a.next {
    right: calc((80% - 60vh) / 2);
    background-position: -50px -61px;
}

    .btnMode a.next:hover {
        background-position: -50px -102px;
    }

/*button effects*/
.rain {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: colors;
    -webkit-animation-timing-function: ease;
    padding: 10px 12px 12px 10px;
    -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,1) inset, -9px -9px 8px rgba(0,0,0,1) inset;
    box-shadow: 8px 8px 8px rgba(0,0,0,1) inset, -9px -9px 8px rgba(0,0,0,1) inset;
}

.border {
    padding: 1px;
    border-radius: 5px;
}

.start {
    background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 0, 0 0, 0 0;
    /* Blue-ish Green Fallback for Mozilla */
    background-image: -moz-linear-gradient(left, #09BA5E 0%, #00C7CE 15%, #3472CF 26%, #00C7CE 48%, #0CCF91 91%, #09BA5E 100%);
    /* Add "Highlight" Texture to the Animation */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(0,0,0,.3)), color-stop(23%,rgba(0,0,0,.1)), color-stop(40%,rgba(255,231,87,.1)), color-stop(61%,rgba(255,231,87,.2)), color-stop(70%,rgba(255,231,87,.1)), color-stop(80%,rgba(0,0,0,.1)), color-stop(100%,rgba(0,0,0,.25)));
    /* Starting Color */
}

#divFly {
    pointer-events: none;
    position: absolute;
    background: transparent;
}

#progressbar .ui-progressbar-value {
    background-color: #ccc;
}
/* progressbar*/
#progressbar {
    transform: rotate(-90deg);
    background: transparent;
    position: absolute;
    top: 50vh;
    right: -27vh;
    width: 71vh
}

    #progressbar .ui-progressbar {
        padding: 1px;
    }

    #progressbar .ui-progressbar-value {
        background: LightBlue;
    }

#power_canvas {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

.level_img {
    width: 12vh;
    height: 27.3vh;
}

#start_game_back {
    margin-left:2vh;
}

#final_score {
    top: 20%;
}

#rank {
    top: 30%;
    right: 55%;
    width: auto;
    height: auto;
    font-size: 40vh;
    position: absolute;
}
